#bold{
    font-weight: bold;
}

.detailImg{
    margin-bottom: 0;
    line-height: 30px;
}

.detailImg img{
    margin-right: 10px;
    margin-top: -2px;
}

.detailInfo{
    padding-left: 40px;
}

.detailsShow{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.7;
    /* display: block; */
    box-sizing: border-box;
    position: static;
}
.detailsShowX{
    width: 50%;
    height: 100%;
    /* float: left;  */
    /* display: block; */
    box-sizing: border-box;
    position: static;
}
/* .busStyle{
    display: flex;
    width: 50%;
    
} */
 .stationBlock {
    display: flex;
    width: 70%;
}


.showBlock {
    position: static;
    width: 100%;
    /*border: 2px solid black;*/
    margin: 0 auto 0 auto;
    border-radius: 10px;
}
.upShowBlock {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr .7fr;
}
.oneGridForShow,
.twoGridForShow,
.threeGridForShow{
    padding: 10px;
}
.botShowBlock {
    /*block: flex;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    display: flex;
    cursor: pointer;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    padding: 15px 20px;
}

.botShowBlock p{
    margin: 0;
}

.mobilePerevozchik{
    display: flex;
    margin-left: 30px;
}

.mobilePerevozchik span{
    color: #aaa;
}

.mobilePerevozchik_one{
    width: 280px;
}

.upOneGridForShow {
    padding: 5px 0px 0px 5px;
    display: flex;
}
.timeShow{
    font-size: 40px;
    line-height: 1;
    padding-right: 5px;
}
.dataShow {
    background-color: #eeefe2;
    height: 20px;
    line-height: 22px;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    margin-top: 4px;
}
.timeInRoad{
    padding-top: 5px;
    padding-left: 10px;
    color: #7e7e7e;
}
.upTwoGridForShow{
    width: 100%;
    padding: 5px 0px 0px 10px;
}
.cityName{
    font-size: 1.2em;
    margin-bottom: 2px;
}
.butTic{
    width: 100px;
    height: 50px;
    background-color: #D50707;
    color: white;
    border-radius: 10px;
    margin-bottom: 3px;
}
p.textPass{
    text-align: center;
}
.threeGridForShow {
    border-left-color: #ef40b0;
    border-left-style: dotted;
    border-left-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightShowBlock{
    margin-top: 32px;
}
.leftShowBlock {
    margin-right: 40px;
}
.textPrice{
    margin-bottom: 0;
    font-size: 1.5em;
}
.upTwoGridForShow{

}
.fixCalendar{
    height: 90px;
    width: 100%;
}
@media screen and (max-width:1204px) {
    .blockShow{
        width: 100%;
    }
}
@media screen and (max-width:769px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        width: 50%;
        float: left;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        justify-content: space-between;
        align-items: center;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textPrice{
        margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    /* .detailsShow{
        width: 90%;
    } */
    .timeInRoad {
        position: relative;
        margin-top: 10px;
        width: 200px;
        padding: 0;
        padding-left: 5px;
    }
    .rightShowBlock{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 0px;
    }
    .butTic{
        width: 80px;
        margin: 0;
        border-radius: 10px 10px;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{
        flex-wrap: wrap;
    }
    .cityName{
        font-size: 1em;
    }

    .mobilePerevozchik_one{
        width: auto;
        margin-right: 20px;
    }

    .sale_flex{
        display: flex;
        padding-left: 40px;
    }

    .sale_flex .detailInfo{
        padding: 0;
        margin-right: 10px;
    }

    .timeShow{
        margin-bottom: 0;
    }
}
@media screen and (max-width:480px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        width: 50%;
        float: left;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textPrice{
       margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    /* .detailsShow{
        width: 90%;
    } */
    .timeInRoad {
        width: auto;
    }
    .rightShowBlock{
        display: flex;
        flex-direction: row-reverse;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 10px;
    }
    .butTic{
        border-radius: 10px 0 0 0;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{

    }

    .detailsShow{
        flex-wrap: wrap;
    }

    .detailsShowX{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:370px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        display: block !important;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .mobilePerevozchik{
        margin-left: 0;
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .mobilePerevozchik_one{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .textPrice{
        margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    /* .detailsShow{
        width: 90%;
    } */
    .timeInRoad {
    }
    .rightShowBlock{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        color: #D50707;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 0px;
    }
    .butTic{
        width: 80px;

        border-radius: 10px 0 0 0;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{}
    .cityName{
        font-size: 1em;
    }
}
.fusion-fullwidth{
    display: block;
    box-sizing: border-box;

}

.thereMatrix > div:nth-child(2){
    margin-bottom: 30px;
}

.divWidth{
    border: 2px solid #D50707 ;
    color: #D50707;
    line-height: 24px;
    float: left;
}

.divWidth.full{
    color: #fff;
    border-color: grey;
}

/*@media screen and (max-width:600px){*/
/*    .thereMatrix{width:100%;}*/
/*}*/
@media screen and (min-width:601px){
    .thereMatrix{
        width:100%;
    }
}

@media screen and (max-width:767px){
    .thereMatrix{
        display: flex !important;
        justify-content: center;
    }

    .divWidth{
        float: none;
    }

    .thereMatrix > div:nth-child(2){
        margin-bottom: 0;
        margin-right: 30px;
    }
}