*{
    padding: 0;
    margin: 0;
}
.butTictwo {
    width: 220px;
    height: 30px;
    border-radius: 3px;
    font-size: 1.1em;
    margin-bottom: 5px;
}
.reserveButton{
    width: 220px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.1em;
    margin-right: 3%;
    margin-bottom: 5px;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #D50707;
    border-bottom: 2px solid #D50707;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}
input[type="checkbox"]:checked + label:after{
    opacity: 1;
}



/* .mainImgLoad{
    z-index: 5000000;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgLoad {
    width: 150px;
    height: 100%;
    background-image: url(../30.gif);
    background-size: 100%;
} */
.mainBlockError {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.errorSend {
    font-size: 1.8em;

}
.classPlus {
    position: relative;
    margin-left: -20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #D50707;
}
.classMinus {
    position: relative;
    margin-left: -30px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #D50707;
}
#offer{
    color: #D50707;
}
.blockShow{
    position: relative;
    /*margin: auto auto auto auto;*/
    margin-bottom: 65px;
    /*display: flex;*/
    /*margin-top: 20px;*/
    background-color: #fff;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    width: 1200px;
    max-width: calc(100vw - 30px);
    /*height: 150px;*/
}
.blockShow:nth-child(3n){
    border-color: lawngreen;
}

.blockShow:nth-child(3n - 1){
    border-color: blue;
}

.blockShow:nth-child(3n - 2){
    border-color: orangered;
}

.positionDeparture{
    padding: 10px;
}
.trip-departure-datetime {
    font-size: 1em;
    font-weight: 800;
}
.upShow {
    font-size: 1em;
    font-weight: 800;
}
.showmobileib{
    display: none;
}
.show-mobile{
    display: none;
}
.butSelect{
}
.btnGreen{
    color: white;
}
.blockGreen {
    width: 90px;
    height: 40px;
    background-color: #2aa345;
    border-radius: 15px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
.btnGreen:visited {
    color: white;
    text-decoration: none;
}
.btnGreen:active {
    color: white;
    text-decoration: none;
}
.upMarg {
    margin-top: 10px;
}
/*цвет ценника*/
.colorMoney {
    color: #2aa345;
    font-size: 1em;
    font-weight: 800;
}
/* .fusion-text.someText{
    display: none;
} */
.pe{
    color: #D50707;
}
.flex {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}
.nameCityStation {
    font-size: 1.2em;
    font-weight: 550;

}

.stationTime{
    font-weight: 600;
    margin-right: 5px;
    min-width: 36px;
    flex: none;
}

.botStation {
    padding-bottom:  5px;
}

.stationBlock:last-child .imgClassBot{
    display: none;
}

.imgBlock {
    width: 30px;
    margin-right: 15px;
    flex: none;
}
.imgClass {
    width: 21px;
    height: 21px;
    border: 2px solid #D50707;
    border-radius: 50%;
    opacity: 0.5;
    margin: auto;
}
.imgClassBot {
    width: 2px;
    height: 25px;
    /*border: 2px solid green;*/
    /*border-width: 0px 2px 0px 0px;*/
    /*margin: auto;*/
    background-color: #D50707;
    opacity: 0.5;
    margin: auto;
    height: calc(100% - 21px);
}
.blockCalender{
    position: relative;
    width: 1200px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    max-width: calc(100vw - 30px);
}

.blockCalender > div{
    margin: 0 5px;
}

.styleFindBlock{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-position: center;
}
/* .paseengersHover:hover{
    border: 1px solid #d50707;
} */
.fixBox{
    border-radius: 10px;
    margin: auto;
    width: 100%;
    background-position: center;
}
.a{
    margin-top: 20px;
    margin-bottom: 20px;
}
.styleForDays{
    border:1px solid transparent;
    color: #1a1a1a;
}

time{
    white-space: nowrap;
}


.myCab{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.textCab {
    width: 100%;
     margin-right: 150px;
 }
.textCab:hover {
    margin-right: 150px;
    color: #D50707;
    text-decoration: underline;
}
nav {
    display: table;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topMenu:after {
    content: "";
    display: table;
    clear: both;
}
.topMenu > li {
    width: 25%;
    float: left;
    position: relative;
}
.topMenu > li > p {
    font-size: 14px;
    font-weight: bold;
    color: #D50707;
    margin-left: 15px;
    z-index: 999999;
    text-decoration: none;
}
.topMenu li p:hover { color: #000; }
.subMenu li p:hover { color: #fff; }
.subMenuLink:after {
    color: inherit;
    margin-left: 10px;
}
.subMenu {
    background: white;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    z-index: 999999;
    border-bottom: 1px solid #D50707;
    text-align: center;
    margin-left: 15px;

}
.subMenu p {
    color: #D50707;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid #D50707;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
    text-decoration: none;
}
.subMenu p:hover {
    color: white;
    background-color: #D50707;
    border-radius: 5px;
    transform: scale(1.1);
    text-decoration: none;
}
.subMenu li:last-child p { border-bottom: none; }
.topMenu > li:hover .subMenu {
    opacity: 1;
    transform: scaleY(1);
}
.burger{
    display: inline;
}
.blockSign {
    background-color: white;
    width: 500px;
    border:1px solid #D50707 ;
    border-radius: 10px;
}
.cabin {
    width: calc(100% - 330px);
    height: auto;
    margin-top: 10px;
}
.checkout{
    width: calc(100% - 330px);
}
.errorLoginNone{
    display: none;
    color:#D50707;
}
.errorLogin{
 display: block;
    color:#D50707;
}
.errorPasswordNone{
    display: none;
    color:#D50707;
}
.errorPassword{
    display: block;
    color: #D50707;
}
.errorSurnameNone{
    display: none;
    color:#D50707;
}
.errorSurname{
    display: block;
    color:#D50707;
}
.errorNameNone{
    display: none;
    color:#D50707;
}
.errorName{
    display: block;
    color:#D50707;
}
.errorEmailNone{
    display: none;
    color:#D50707;
}
.errorEmail{
    display: block;
    color:#D50707;
}
.errorPhoneNone{
    display: none;
    color:#D50707;
}
.errorPhone{
    display: block;
    color:#D50707;
}
.erAuthNone {
    display: none;
    color:#D50707;
}
.erAuth {
    display: block;
    color:#D50707;
}
.inputUser {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2em;
    background: #edffe3;
    outline: none;
    margin-bottom: 20px;
}
.styleTextUser {
    font-size: 1.3em;
}
.styleTextUserSend {
    cursor: pointer;
    font-size: 1.8em;
    background: #b32525;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
}
.showSignBlock {
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showSignBlockTwo {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border-left: 2px solid red;*/
    padding-left: 10px;
}
.showSignBlockMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.styleTextUserSendReg {
    cursor: pointer;
    font-size: 1.8em;
    background: #b32525;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
    /*width: 160px;*/
}
.classForButSendReg{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.mainMainBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:769px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
        display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}

@media screen and (max-width:480px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
     display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}
@media screen and (max-width:370px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
        display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .topFix {
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}
button.close{float:right;}
.close span{
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    /* font: inherit; */
    font-size: 20px;
}
.modal-header {
    display: block;
}
.verdad-btn{
    padding: 9px 23px;
    font-size:13px;
}
#modalUserRegister .form-control, #modalUserLogin .form-control{
    height:30px;

}
#modalUserRegister label, #modalUserLogin label{
    margin: 10px 0 10px;
}
select.currency{    color: black;
    border-radius: 6px;
    padding: 5px;}
#passengers{
    height: 58px;
    padding-bottom: 25px;
    width: 93%;
}
.fusion-header-wrapper{
    position: static;
    z-index: 10010;
}
.col-md-2{
    width: 50%;
}
p.trip__details__down {
    text-align: left;
    position: relative;
}

p.trip__details__down:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 7px;
    background-image: url('../down-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    margin-bottom: 1px;
}

p.trip__details__down.active:before{
    transform: rotate(180deg);
}

.promoButton{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
}
.sort{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.sortItem{
    margin-right: 10px;
    cursor: pointer;
    color: #424543;
    border: 1px solid #424543;
    padding: 2px 8px 4px 8px;
    border-radius: 5px;
    background-color: #fff;
}

.sortItem.active{
    color: #D50707;
    border-color: #D50707;
}

.sortItem svg{
    margin-left: 5px;
    margin-bottom: -2px;
}
.svg-is-active{
    width: 12px;
    cursor: pointer;
}
.svg-is-active:hover{
    color: #D50707;
}
.svg-is-active:active{
    color: #D50707;
    /*transform: rotateY(180deg);*/
    transform: rotateX(180deg);
}
.freeChoice{
    border: 1px solid #D50707;
    border-radius: 5px;
    width: 207px;
    text-align: center;
    line-height: 21px;
}

.priceDetail{
    border-top: 4px solid #f5f5f5;
}
.aboutDetails{
    border-bottom: 4px solid #f5f5f5;
    padding-left: 5px;
}
.detailsMonth{
    float: left;
    color: #d50707;

}
.detailsHours{
    font-size: 1.4em;
    margin-bottom: 0;
}
.priceDetailTextT {
    font-size: 1.5em;
}
#promoInput{
    display: block;
    width: 100%;
    height: 46px;
    padding: 11px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 5px;
    color: #424543;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}
#comment-input input, #comment-textarea textarea, .avada-select .select2-container .select2-choice, .avada-select .select2-container .select2-choice .select2-arrow, .avada-select .select2-container .select2-choice2 .select2-arrow, .chzn-container .chzn-drop, .chzn-container-single .chzn-single, .comment-form-comment textarea, .fusion-body .avada-select-parent .select-arrow, .fusion-body .avada-select-parent select, .gravity-select-parent .select-arrow, .input-text, .main-nav-search-form input, .post-password-form label input[type="password"], .search-page-search-form input, .searchform .fusion-search-form-content .fusion-search-field input, .select-arrow, .select2-container .select2-selection .select2-selection__arrow, .select2-container--default .select2-dropdown .select2-search, .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-selection--single, .select2-dropdown, input.s, input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="tel"], select, textarea {
    border-radius: 5px;
    height: 45px;
}





.aboutDetails_item{
    display: flex;
    padding: 10px 0;
}

.aboutDetails_line{
    width: 14px;
    margin: 0 10px;
    flex: none;
    padding-top: 7px;
}

.aboutDetails_line_circle{
    width: 14px;
    height: 14px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #D50707;
}

.aboutDetails_line_ver{
    width: 2px;
    margin: auto;
    height: calc(100% + 20px);
    background-color: #D50707;
}

p.detailsFromP{
    margin: 0;
    padding-top: 5px;
}

.aboutDetails_place p.detailsFromP:last-child{
    font-size: 12px;
}

.aboutDetails_item:last-child .aboutDetails_line_ver{
    display: none;
}

.aboutDetails_items_list {
    padding: 5px 0;
}


.priceDetailText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceDetailPrice{
    margin-top: 4px;
}

@media all and (max-width: 770px){
    .sort{
        display: none;
    }
    .sortItem{
        display: none;
    }
    .divWidth{
    }
    .mobilePerevozchik{

    }
    .imgClass{
        width:12px;
        height:12px;
    }
    .imgClassBot{
        min-height: 65px;
    }

    .detailInfo{
        float: none !important;
    }
    .nameCityStation{
        font-size:13px;
        margin-bottom: 5px;
    }
    .nameCityStation + p{
        margin-bottom: 0;
    }
    .detailsShowX, .stationBlock{
        width: 100%;
    }
    .aboutDetails{
        padding-top: 7px;
        padding-left: 15px;
    }
    .detailsMonth, .detailsHours {
        padding: 10px;padding-bottom: 0px;
    }
    .detailsFromP{
        padding-left: 12px;
    }
    .priceDetail{
        padding:10px;
    }
    .priceDetailText{font-size: 1.5em;}
    .priceDetailTextT{font-size: 1.2em;}

}
@media screen and (min-width:1024px){
    .search-form__group--submit{
        margin-left: -20px;
    }
    .removeRight{
        right: 3px;
    }
}


@media screen and (max-width:1199px){
    .cabin{
        width: calc(100% - 30px);
    }
}

@media screen and (max-width:977px){
    .cabin{
        width: calc(100% - 30px);
    }

    .checkout{
        width: 100%;
    }
}

@media screen and (max-width:850px){
    .blockCalender{

    }

    .blockCalender:after{
        content: "";
        display: block;
        height: 100%;
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #f5f5f5;
    }

    .blockCalender:before{
        content: "";
        display: block;
        height: 100%;
        width: 50px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f5f5f5;
    }

    .fixBox + div{
        overflow: hidden;
    }
}

@media screen and (max-width:550px){
    .oneGridForShow{
        float: none;
        width: 100%;
        display: flex;
    }

    .twoGridForShow{
        float: none;
        width: 100%;
        display: flex;
    }

    .styleFindBlock{
        height: auto;
        padding: 30px 25px;
    }
}

@media screen and (max-width:483px){
    .reserveButton{
        display: block;
        margin: 0 auto 8px;
    }

    .butTictwo{
        display: block;
        margin: 0 auto;
    }

    .search-form__group.search-form__group--passengers.search-form__group--white{
        width: 100%;
    }

    #submit{
        padding: 13px 30px;
        margin: auto;
        display: block;
    }

    #SubmitDiv{
        justify-content: center;
    }
}

@media screen and (max-width:370px){
    .twoGridForShow{
        display: block;
    }
}
